.field{
  & + .field{
    margin-top: 20px;
  }
  .field--title{
    font-size: 16px;
    color: #8E8E8E;
    display: block;
  }
  input[type="text"], textarea{
    background: #F4F4F4;
    border-radius: 3px;
    font-size: 13px;
    color: #8E8E8E;
    border: none;
    padding: 12px 20px;
    margin-top: 10px;
    display: block;
    width: 100%;
    @include hover-focus-active{
      outline: none;
    }
  }
}
